/* Reset de estilos básico */
*{
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .bodiContainer {
    padding: 0;
  
  
  }
  
  
  
  
  .bodi {
      background-image: url('./borde2.PNG'), url('./borde1.PNG');
      background-size: contain,contain;
      background-position: right center,left center; /* Ajusta el 80% hacia la derecha */
      height: 100vh;
      background-repeat: no-repeat; /* Evitar que la imagen se repita */
      overflow-x: hidden; /* Puede ayudar a prevenir desbordamientos horizontales */
  
      width: 100vw;
      margin:0;
      display: flex;
      align-items: center;
      justify-content: center;
  
    }
  
  
  
  
  .Titulo{
      font-family: 'Poppins', sans-serif;
      color: #499E75;
      margin: 0;
      font-size: 60px;
      display: block;
  }
  .formInicio{
      margin: 0;
  
  
  }
  .imputInicio{
      width: 21vw;
      height: 7vh;
      font-size: 40px;
      margin: 10px 0 ; /* 5% de margen superior e inferior, 0 de margen izquierdo y derecho */
  
  
  }
  button{
      width: 15vw;
      height: 45px;
      background-color: #98AD77;
      margin: 10px !important; /* 10px de margen superior e inferior, 0 de margen izquierdo y derecho */
  
  }