h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 2.5%;
}

img{
    width: 200px;
}


.Link{
    text-decoration: none;
    font-size: large;
}
.ovalo{
    color: black;
    border-radius: 30px;
    border: 2px dashed black;
}
div.segmented_line {
    width: 600px; /* Ancho de la línea */
    height: 4px; /* Grosor de la línea */
    border-bottom: 3px dashed black; /* Borde segmentado con línea discontinua */
}