.bodi{

}

.oval_half_red {
    width: 250px;
    height: 100px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background: #5cb85c;
    transform: rotate(45deg);
}

.oval_half_red {
    width: 250px;
    height: 100px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background: #5cb85c;
    transform: rotate(45deg);
}

.huevo {
    width: 126px;
    height: 180px;
    background-color: #cee8a4;
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.formInicio{
    margin: 20px;
    
}
.imputInicio{
    width: 400px;
    height: 20%;
    font-size: 40px;
    margin: 5%;
}
button{
    border-radius: 30px;
    width: 200px;
    height: 45px;
    background-color: #98AD77;
}
.Titulo{
    font-family: 'Poppins', sans-serif;
    color: #499E75;
    margin: 2.5%;
    font-size: 60px;
    display: block;
}