.body {
    background-image: url('./fondo.PNG');
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
  
  .Titulo {
    font-family: 'Poppins', sans-serif;
    color: #499e75;
    margin: 2.5%;
    font-size: 3vw;
    display: block;
  }
  
  .formAdmin2 {
    margin: 2%;
  }
  
  .imputAdmin2 {
    width:80%;
    height: 10%;
    font-size: 3vw;
    margin: 2%;
  }
  
  button {
    border-radius: 15px;
    width: 15%;
    height: 8%;
    background-color: #98ad77;
    font-size: 1vw;
    margin: 2%;
  }
  .conectado {
    color: green;
  }
  
  .noConectado {
    color: red;
  }