.bodi {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    height: 81vh;

}
.container{
    background-image: url('./tutorial1.png');
    background-size: contain, contain;
    background-position: right center;
    height: 100vh;
    background-repeat: no-repeat;
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Ajuste para centrar en el eje Y */
  }

  .buton {
    color: black;
    background-color: #2aea8e;
    border: none;
    width: 20vw;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin: auto; /* Centra verticalmente */
    margin-top: 40px; /* Espaciado desde la parte superior */
    margin-bottom: 40px; /* Espaciado desde la parte inferior */
    padding: 10px;
    text-decoration: none; /* Quita el subrayado */

  }
  



body{
    margin: 0;
    width: 100%;
}